[submodule "glazed"]
	path = glazed
	url = git@github.com:go-go-golems/glazed
[submodule "clay"]
	path = clay
	url = git@github.com:go-go-golems/clay
[submodule "sqleton"]
	path = sqleton
	url = git@github.com:go-go-golems/sqleton
[submodule "escuse-me"]
	path = escuse-me
	url = git@github.com:go-go-golems/escuse-me
[submodule "parka"]
	path = parka
	url = git@github.com:go-go-golems/parka
[submodule "geppetto"]
	path = geppetto
	url = git@github.com:go-go-golems/geppetto
[submodule "cliopatra"]
	path = cliopatra
	url = git@github.com:go-go-golems/cliopatra
[submodule "harkonnen"]
	path = harkonnen
	url = git@github.com:go-go-golems/harkonnen
[submodule "biberon"]
	path = biberon
	url = git@github.com:go-go-golems/biberon
[submodule "bucheron"]
	path = bucheron
	url = git@github.com:go-go-golems/bucheron
[submodule "oak"]
	path = oak
	url = git@github.com:go-go-golems/oak
[submodule "plunger"]
	path = plunger
	url = git@github.com:go-go-golems/plunger
[submodule "ecrivain"]
	path = ecrivain
	url = git@github.com:go-go-golems/ecrivain
[submodule "raza"]
	path = raza
	url = git@github.com:go-go-golems/raza
[submodule "voyage"]
	path = voyage
	url = git@github.com:go-go-golems/voyage
[submodule "go-go-labs"]
	path = go-go-labs
	url = git@github.com:go-go-golems/go-go-labs
[submodule "common-sense"]
	path = common-sense
	url = git@github.com:go-go-golems/common-sense
[submodule "barbar"]
	path = barbar
	url = git@github.com:go-go-golems/barbar
	branch = main
[submodule "mastoid"]
	path = mastoid
	url = git@github.com:go-go-golems/mastoid
[submodule "prompto"]
	path = prompto
	url = git@github.com:go-go-golems/prompto
[submodule "promptos/prompto"]
	path = promptos/prompto
	url = git@github.com:go-go-golems/promptos
[submodule "bobatea"]
	path = bobatea
	url = git@github.com:go-go-golems/bobatea
[submodule "uhoh"]
	path = uhoh
	url = git@github.com:go-go-golems/uhoh
[submodule "go-template"]
	path = go-template
	url = git@github.com:wesen/wesen-go-template
[submodule "go-emrichen"]
	path = go-emrichen
	url = git@github.com:go-go-golems/go-emrichen
	branch = main
[submodule "submodule.sqleton"]
	branch = main
[submodule "submodule.escuse-me"]
	branch = main
[submodule "submodule.parka"]
	branch = main
[submodule "submodule.geppetto"]
	branch = main
[submodule "submodule.cliopatra"]
	branch = main
[submodule "submodule.harkonnen"]
	branch = main
[submodule "submodule.biberon"]
	branch = main
[submodule "submodule.bucheron"]
	branch = main
[submodule "submodule.oak"]
	branch = main
[submodule "submodule.plunger"]
	branch = main
[submodule "submodule.ecrivain"]
	branch = main
[submodule "submodule.raza"]
	branch = main
[submodule "submodule.voyage"]
	branch = main
[submodule "submodule.go-go-labs"]
	branch = main
[submodule "submodule.common-sense"]
	branch = main
[submodule "submodule.barbar"]
	branch = main
[submodule "submodule.mastoid"]
	branch = main
[submodule "submodule.prompto"]
	branch = main
[submodule "submodule.promptos/prompto"]
	branch = main
[submodule "submodule.bobatea"]
	branch = main
[submodule "submodule.uhoh"]
	branch = main
[submodule "submodule.go-template"]
	branch = main
[submodule "submodule.go-emrichen"]
	branch = main
[submodule "thirdparty/bubble-table"]
	path = thirdparty/bubble-table
	url = git@github.com:go-go-golems/bubble-table
	branch = main
