go 1.20

use (
   
./glazed
./clay
./sqleton
./escuse-me
./parka
./geppetto
./cliopatra
./harkonnen
./biberon
./bucheron
./oak
./plunger
./ecrivain
./voyage

./barbar
./go-go-labs

./go-ordered-map

./vendor/go-mastodon
	facture

)
