go 1.24.3

use (
	// ../../mento/go-go-mento/go
	./bobatea
	./clay
	./cliopatra
	./escuse-me
	// ./facture
	./geppetto
	./glazed
	// ./mastoid
	// ./plunger
	// ./voyage

	./go-emrichen
	./go-go-agent
	./go-go-labs
	./go-go-mcp
	./jesus

	// ./barbar
	// ./biberon
	// ./common-sense
	// ./ecrivain
	// ./bucheron
	//	./harkonnen

	./oak
	./parka
	./pinocchio
	./prompto
	//	./smailnail
	./sqleton
	//	./thirdparty/bleve
	//	./thirdparty/bleve/thirdparty/go-faiss

	// ./thirdparty/bubble-table

	// ./thirdparty/go-socket.io
	// ./thirdparty/opensearch-go
	// ./thirdparty/bubbletea-overlay
	// ./thirdparty/glamour
	// ./thirdparty/termenv
	./uhoh
	./workspace-manager
// ./vibes/2025-04-21/llm-agent-complete/llm-agent-framework
// ./vibes/2025-04-28/kafka-watermill/kafka-watermill-project
)
