go 1.22.2

use (
	./bobatea
	./clay
	./cliopatra
	./escuse-me
	./facture
	./geppetto
	./glazed
	// ./mastoid
	// ./plunger
	// ./voyage

	./go-emrichen
	./go-go-labs

	// ./barbar
	// ./biberon
	// ./common-sense
	// ./ecrivain
	// ./bucheron
	./harkonnen

	./oak
	./parka
	./prompto
	./sqleton

	./thirdparty/go-socket.io
	./uhoh
)
